<h1><%= @companyInfo.company_name %>の詳細を表示したいんよ</h1>

<table>
    <tr>
        <th>ID</th>
        <td><%= @companyInfo.id %></td>
    </tr>
    <tr>
        <th>おなまえ</th>
        <td><%= @companyInfo.company_name %></td>
    </tr>
    <tr>
        <th>ジョブID</th>
        <td><%= @companyInfo.job_m_id %></td>
    </tr>
    <tr>
        <th>URL</th>
        <td><%=link_to @companyInfo.url, @companyInfo.url %></td>
    </tr>
    
</table>
